<div class="year" ng-repeat="year in bricks">
	<span class="year-tooltip">{{year.yearTooltip}}</span>
	<div class="brick" ng-repeat="brick in year" ng-style="{
		'background': brick.color, 
		'outline': brick.outline,
		'border': brick.border
	}" ng-class="{'important-brick': brick.importantTooltip}" ng-attr-title="{{brick.title}}" ng-click="showInfo(brick)">
		<span class="brick-tooltip" ng-if="brick.year == 0">{{brick.brickTooltip}}</span>
	</div>
	<div class="life-calendar-label" ng-if="year.labelForBasic" ng-style="{ 'color': year.colorForBasic }">- {{year.labelForBasic}}</div>
</div>
<div ng-init="popup">
	<div dx-popup="{
		width: 300,
		height: 250,
		contentTemplate: 'info',
		showTitle: true,
		dragEnabled: true,
		closeOnOutsideClick: true,
		shading: false,
		bindingOptions: {
			visible: 'visiblePopup',
			title: 'popup.brick.date'
		}
	}">
		<div data-options="dxTemplate: { name:'info' }">
			<span>Периоды с прошлой недели:</span>
			<ul>
				<li ng-repeat="period in popup.prevPeriods">{{period.text}} <a href="javascript:;" ng-click="prolongPeriod(popup.brick, period)">продлить</a></li>
			</ul>
		</div>
	</div>
</div>