body {
	padding: 0px;
	margin: 0px;
	font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
}

.form {
	display: inline-block;
	padding: 0px 10px 20px;
	vertical-align: top;
	border-bottom: 2px solid #e0e0e0;
	width: 100%;
	box-sizing: border-box;
}

h2.group-title {
	border-bottom: 1px solid #e0e0e0;
	color: #f05b41;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	font-size: 20px;
	margin: 10px 0;
	padding-bottom: 10px
}

h1 {
	width: 300px;
	margin: 10px auto 30px;
	font-weight: 200;
	font-size: 30px;
	text-transform:none;
	color: #f05b41;
}

#birthday, #types, #without-future, #life-calendar-type {
	display: inline-block;
	vertical-align: middle;
}

#birthday {
	width: 120px !important;
}

.checkbox {
	margin: 10px 10px 10px 0;
}

.label {
	position: absolute;
	left: 900px;
	text-transform: uppercase; 
	width: 180px;
	font-weight: bold;
	margin-top: -8px;
}

#grid-container {
	width: 100%;
	border-bottom: 1px solid #d3d3d3
}

#apply {
	display: block;
	margin-top: 50px;
}

.life-calendar {
	margin: 10px auto;
	width: 900px;
	background-color: white;
	position: relative;
}

.year {

	height: 17px;
}

.year-tooltip {
	position: absolute;
	left: -15px;
}

.brick-tooltip {
	position: absolute;
	top: -17px;	
}

.brick {
	display: inline-block;
	margin: 3px 0 0 3px;
	min-width: 14px;
	min-height: 14px;
	border: 1px solid #b9b9b9;
}

.important-brick {
	border-color: #00f;
	border-width: 2px;
}